[alias]
	clonez = "!sh -c 'git clone $1 $PWD/$GIT_PREFIX${1##*/}' -"
	log1 = !git --no-pager log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
	diff = true
	interactive = true

[core]
	editor = vim -c ':normal gg'
	pager = tig

[user]
	name = leho
	email = leho@kraav.com
